# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
data/sample/*

# Large scientific/geospatial files
*.nc
*.nc4
*.h5
*.hdf
*.tif
*.tiff
*.grib
*.grb
*.zip

# Trained models
models/*.pkl
models/*.joblib
models/*.pt
models/*.pth
models/*.onnx

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
.mypy_cache/